 <!--header section start-->
 <header id="header" class="header-main">
  <!--topbar start-->
  <div id="header-top-bar" class="gray-light-bg">
      <div class="container">
          <div class="row justify-content-between">
              <div class="col-md-7 col-lg-7">
                  <div class="topbar-text d-none d-md-block d-lg-block">
                      <ul class="list-inline">
                          <li class="list-inline-item">
                              <a routerLink="tell:888-1234567"><span class="fas fa-phone mr-2"></span> 24x7 Technical Support 888-1234567</a>
                          </li>
                          <li class="list-inline-item"><a routerLink="#"><span class="fas fa-comments mr-2"></span> Live
                                  Chat</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-4 col-lg-4">
                  <div class="topbar-text">
                      <ul class="list-inline text-right">
                          <li class="list-inline-item"><a routerLink="/login"><span class="fas fa-user mr-2"></span> Login</a></li>
                          <li class="list-inline-item"><a routerLink="/register"><span class="fas fa-lock mr-2"></span> Register</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--topbar end-->

  <!--main header menu start-->
  <div id="logoAndNav" class="main-header-menu-wrap white-bg border-bottom">
      <div class="container">
          <nav class="js-mega-menu navbar navbar-expand-md header-nav">

              <!--logo start-->
              <a class="navbar-brand" routerLink="#"><img src="../../assets/img/logo-color.png" width="120" alt="logo" class="img-fluid" /></a>
              <!--logo end-->

              <!--responsive toggle button start-->
              <button type="button" class="navbar-toggler btn" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                  <span id="hamburgerTrigger">
                    <span class="fas fa-bars"></span>
                  </span>
              </button>
              <!--responsive toggle button end-->

              <!--main menu start-->
              <div id="navBar" class="collapse navbar-collapse">
                  <ul class="navbar-nav ml-auto main-navbar-nav">
                      <!--hosting start-->
                      <li class="nav-item hs-has-mega-menu custom-nav-item" data-max-width="720px" data-position="right">
                          <a id="hostingMegaMenu" class="nav-link custom-nav-link main-link-toggle" routerLink="JavaScript:Void(0);" aria-haspopup="true" aria-expanded="false">Hosting</a>

                          <!-- Demos - Mega Menu -->
                          <div class="hs-mega-menu w-100 main-sub-menu" aria-labelledby="hostingMegaMenu">
                              <div class="row no-gutters">
                                  <div class="col-md-6">
                                      <!--menu title with subtitle and icon item start-->
                                      <div class="title-with-icon-item">
                                          <a class="title-with-icon-link" routerLink="/shared-hosting">
                                              <div class="media">
                                                  <div class="menu-item-icon"><i class="fas fa-server"></i></div>
                                                  <div class="media-body">
                                                      <span class="u-header__promo-title">Shared Hosting</span>
                                                      <small class="u-header__promo-text">Innovate reliable quality
                                                          Starting at <strong>$2.99</strong></small>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                      <!--menu title with subtitle and icon item end-->
                                      <!--menu title with subtitle and icon item start-->
                                      <div class="title-with-icon-item">
                                          <a class="title-with-icon-link" routerLink="/vps-hosting">
                                              <div class="media">
                                                  <div class="menu-item-icon"><i class="fas fa-box"></i></div>
                                                  <div class="media-body">
                                                      <span class="u-header__promo-title">VPS Hosting <span
                                                              class="badge badge-success ml-1">Popular</span></span>
                                                      <small class="u-header__promo-text">Pefficiently maintain
                                                          Starting at <strong>$11.99</strong></small>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                      <!--menu title with subtitle and icon item end-->
                                      <!--menu title with subtitle and icon item start-->
                                      <div class="title-with-icon-item">
                                          <a class="title-with-icon-link" routerLink="/dedicated-server-hosting">
                                              <div class="media">
                                                  <div class="menu-item-icon"><i class="fas fa-tachometer-alt"></i></div>
                                                  <div class="media-body">
                                                      <span class="u-header__promo-title">Dedicated Hosting</span>
                                                      <small class="u-header__promo-text">Quickly build Starting at
                                                          <strong>$150.99/mo</strong></small>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                      <!--menu title with subtitle and icon item end-->
                                      <!--menu title with subtitle and icon item start-->
                                      <div class="title-with-icon-item">
                                          <a class="title-with-icon-link" routerLink="/cloud-hosting">
                                              <div class="media">
                                                  <div class="menu-item-icon"><i class="fas fa-cloud"></i></div>
                                                  <div class="media-body">
                                                      <span class="u-header__promo-title">Cloud Hosting <span
                                                              class="badge badge-danger ml-1">Hot</span></span>
                                                      <small class="u-header__promo-text">Conveniently cloud Starting
                                                          at <strong>$5.99/mo</strong></small>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                      <!--menu title with subtitle and icon item end-->
                                  </div>

                                  <div class="col-md-6">
                                      <!--menu title with subtitle and icon item start-->
                                      <div class="title-with-icon-item">
                                          <a class="title-with-icon-link" routerLink="/email-hosting">
                                              <div class="media">
                                                  <div class="menu-item-icon"><i class="fas fa-envelope"></i></div>
                                                  <div class="media-body">
                                                      <span class="u-header__promo-title">Email Hosting</span>
                                                      <small class="u-header__promo-text">First Starting at <strong>$0.99/mo
                                                          per mailbox</strong></small>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                      <!--menu title with subtitle and icon item end-->
                                      <!--menu title with subtitle and icon item start-->
                                      <div class="title-with-icon-item">
                                          <a class="title-with-icon-link" routerLink="/shared-wp-hosting">
                                              <div class="media">
                                                  <div class="menu-item-icon"><i class="fas fa-database"></i></div>
                                                  <div class="media-body">
                                                      <span class="u-header__promo-title">Shared Wordpress Hosting</span>
                                                      <small class="u-header__promo-text">Conveniently Starting at
                                                          <strong>$9.99/mo</strong></small>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                      <!--menu title with subtitle and icon item end-->
                                      <!--menu title with subtitle and icon item start-->
                                      <div class="title-with-icon-item">
                                          <a class="title-with-icon-link" routerLink="/wp-hosting">
                                              <div class="media">
                                                  <div class="menu-item-icon"><i class="fab fa-wordpress"></i></div>
                                                  <div class="media-body">
                                                      <span class="u-header__promo-title">Wordpress Hosting</span>
                                                      <small class="u-header__promo-text">Conveniently Starting at
                                                          <strong>$9.99/mo</strong></small>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                      <!--menu title with subtitle and icon item end-->
                                      <!--menu title with subtitle and icon item start-->
                                      <div class="title-with-icon-item">
                                          <a class="title-with-icon-link" routerLink="/fa-server">
                                              <div class="media">
                                                  <div class="menu-item-icon"><i class="/fa-server"></i></div>
                                                  <div class="media-body">
                                                      <span class="u-header__promo-title">WooCommerce Hosting <span
                                                              class="badge badge-primary ml-1">New</span></span>
                                                      <small class="u-header__promo-text">Globally Starting at
                                                          <strong>$9.99/mo</strong></small>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                      <!--menu title with subtitle and icon item end-->
                                  </div>

                              </div>
                          </div>
                          <!-- End Demos - Mega Menu -->
                      </li>
                      <!--hosting end-->

                      <!--support start-->
                      <li class="nav-item hs-has-mega-menu custom-nav-item" data-max-width="360px" data-position="right">
                          <a id="supportMegaMenu" class="nav-link custom-nav-link main-link-toggle" routerLink="JavaScript:Void(0);" aria-haspopup="true" aria-expanded="false">Support</a>
                          <!--support submenu start-->
                          <div class="hs-mega-menu main-sub-menu" aria-labelledby="supportMegaMenu" style="min-width: 330px;">

                              <!--menu title with subtitle and icon item start-->
                              <div class="title-with-icon-item">
                                  <a class="title-with-icon-link" routerLink="submit-request.html">
                                      <div class="media align-items-center">
                                          <img class="menu-titile-icon" src="../../assets/img/chat.svg" alt="SVG">
                                          <div class="media-body">
                                              <span class="u-header__promo-title">Submit a Request </span>
                                              <small class="u-header__promo-text">Support team quickly response
                                              </small>
                                          </div>
                                      </div>
                                  </a>
                              </div>
                              <!--menu title with subtitle and icon item end-->

                              <!--menu title with subtitle and icon item start-->
                              <div class="title-with-icon-item">
                                  <a class="title-with-icon-link" routerLink="support.html">
                                      <div class="media align-items-center">
                                          <img class="menu-titile-icon" src="../../assets/img/support.svg" alt="SVG">
                                          <div class="media-body">
                                              <span class="u-header__promo-title">24/7/365 Support</span>
                                              <small class="u-header__promo-text">Support and statement</small>
                                          </div>
                                      </div>
                                  </a>
                              </div>
                              <!--menu title with subtitle and icon item end-->
                              <!--menu title with subtitle and icon item start-->
                              <div class="title-with-icon-item">
                                  <a class="title-with-icon-link" routerLink="network.html">
                                      <div class="media align-items-center">
                                          <img class="menu-titile-icon" src="../../assets/img/data-services.svg" alt="SVG">
                                          <div class="media-body">
                                              <span class="u-header__promo-title">Our Datacenter</span>
                                              <small class="u-header__promo-text">24 Data center globally</small>
                                          </div>
                                      </div>
                                  </a>
                              </div>
                              <!--menu title with subtitle and icon item end-->
                              <!--menu title with subtitle and icon item start-->
                              <div class="title-with-icon-item">
                                  <a class="title-with-icon-link" routerLink="status.html">
                                      <div class="media align-items-center">
                                          <img class="menu-titile-icon" src="../../assets/img/time.svg" alt="SVG">
                                          <div class="media-body">
                                              <span class="u-header__promo-title">Uptime Commitment</span>
                                              <small class="u-header__promo-text">Monitoring and secure</small>
                                          </div>
                                      </div>
                                  </a>
                              </div>
                              <!--menu title with subtitle and icon item end-->

                              <!--submenu footer start-->
                              <div class="u-header__promo-footer">
                                  <!-- List -->
                                  <div class="row no-gutters">
                                      <div class="col-6">
                                          <div class="u-header__promo-footer-item">
                                              <small class="text-muted d-block">Check what's new</small>
                                              <a class="small" routerLink="#">
                                                  Changelog
                                              </a>
                                          </div>
                                      </div>
                                      <div class="col-6 u-header__promo-footer-ver-divider">
                                          <div class="u-header__promo-footer-item">
                                              <small class="text-muted d-block">Have a question?</small>
                                              <a class="small" routerLink="contact-us.html">
                                                  Contact us
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- End List -->
                              </div>
                              <!--submenu footer end-->
                          </div>
                          <!--support submenu end-->
                      </li>
                      <!--support end-->

                      <!--about start-->
                      <li class="nav-item hs-has-mega-menu custom-nav-item" data-max-width="250px" data-position="right">
                          <a id="aboutMegaMenu" class="nav-link custom-nav-link main-link-toggle" routerLink="JavaScript:Void(0);" aria-haspopup="true" aria-expanded="false">About</a>

                          <!--about submenu start-->
                          <div class="hs-mega-menu main-sub-menu" aria-labelledby="aboutMegaMenu" style="min-width: 330px;">

                              <!--menu title with subtitle and icon item start-->
                              <div class="title-with-icon-item">
                                  <a class="title-with-icon-link" routerLink="/contact">
                                      <div class="media align-items-center">
                                          <img class="menu-titile-icon" src="../../assets/img/chat-mobile.svg" alt="SVG">
                                          <div class="media-body">
                                              <span class="u-header__promo-title">Contact Us</span>
                                              <small class="u-header__promo-text">Face any problem contact with us
                                              </small>
                                          </div>
                                      </div>
                                  </a>
                              </div>
                              <!--menu title with subtitle and icon item end-->

                              <!--menu title with subtitle and icon item start-->
                              <div class="title-with-icon-item">
                                  <a class="title-with-icon-link" routerLink="/about">
                                      <div class="media align-items-center">
                                          <img class="menu-titile-icon" src="../../assets/img/community.svg" alt="SVG">
                                          <div class="media-body">
                                              <span class="u-header__promo-title">About Us</span>
                                              <small class="u-header__promo-text">We are leading hosting company
                                              </small>
                                          </div>
                                      </div>
                                  </a>
                              </div>
                              <!--menu title with subtitle and icon item end-->


                              <!--menu title with subtitle and icon item start-->
                              <div class="title-with-icon-item">
                                  <a class="title-with-icon-link" routerLink="/partners">
                                      <div class="media align-items-center">
                                          <img class="menu-titile-icon" src="../../assets/img/partner.svg" alt="SVG">
                                          <div class="media-body">
                                              <span class="u-header__promo-title">Our Partner</span>
                                              <small class="u-header__promo-text">We have trusted partners globally
                                              </small>
                                          </div>
                                      </div>
                                  </a>
                              </div>
                              <!--menu title with subtitle and icon item end-->

                              <!--menu title with subtitle and icon item start-->
                              <div class="title-with-icon-item">
                                  <a class="title-with-icon-link" routerLink="/network">
                                      <div class="media align-items-center">
                                          <img class="menu-titile-icon" src="../../assets/img/network.svg" alt="SVG">
                                          <div class="media-body">
                                              <span class="u-header__promo-title">Network</span>
                                              <small class="u-header__promo-text">Keep your data save and secure
                                              </small>
                                          </div>
                                      </div>
                                  </a>
                              </div>
                              <!--menu title with subtitle and icon item end-->

                              <!--submenu footer end-->
                          </div>
                          <!--about submenu end-->
                      </li>
                      <!--about end-->

                      <!--button start-->
                      <li class="nav-item header-nav-last-item d-flex align-items-center">
                          <a class="btn primary-solid-btn animated-btn" routerLink="#" target="_blank">
                              Get Started
                          </a>
                      </li>
                      <!--button end-->
                  </ul>
              </div>
              <!--main menu end-->
          </nav>
      </div>
  </div>
  <!--main header menu end-->
</header>
<!--header section end-->
