  <!--pricing with switch section start-->
  <section class="pricing-section ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8">
                <div class="section-heading text-center mb-5">
                    <h2>Managed Our Hosting Price</h2>
                    <p class="lead">
                        Professional hosting at an affordable price. Distinctively recaptiualize principle-centered
                        core competencies through
                        core competencies.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 col-sm-8 col-md-7">
                <div class="text-center mb-5 radio-box-wrap billingCycle">
                    <div class="single-radio-box">
                        <input name="billingPlan" id="monthly-plan" value="monthly" class="radio" type="radio" checked>
                        <label for="monthly-plan"><span class="custom-check"></span> Monthly</label>
                    </div>
                    <div class="single-radio-box">
                        <input name="billingPlan" id="yearly-plan" value="yearly" class="radio" type="radio">
                        <label for="yearly-plan"><span class="custom-check"></span> Yearly</label>
                    </div>
                    <div class="single-radio-box">
                        <input name="billingPlan" id="biannual-plan" value="biannual" class="radio" type="radio">
                        <label for="biannual-plan"><span class="custom-check"></span> Biannual</label>
                    </div>
                    <div class="single-radio-box">
                        <input name="billingPlan" id="triennial-plan" value="triennial" class="radio" type="radio">
                        <label for="triennial-plan"><span class="custom-check"></span> Triennial</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card text-center single-pricing-pack">
                    <div class="pt-5">
                        <h5 class="mb-0">Cloud Starter</h5>
                        <p class="mb-0">Medium traffic personal sites</p>
                    </div>
                    <div class="card-header pb-4 border-0 pricing-header">
                        <div class="price text-center mb-0 monthly-price">$19<span>/month</span></div>
                        <div class="price text-center mb-0 yearly-price">$69<span>/yearly</span></div>
                        <div class="price text-center mb-0 biannual-price">$130<span>/biannual</span></div>
                        <div class="price text-center mb-0 triennial-price">$199<span>/triennial</span></div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mb-4 pricing-feature-list">
                            <li><span>10</span> Hosted Domains</li>
                            <li><span>25 GB</span> RAID 10 Storage</li>
                            <li><span>200 GB</span> Bandwidth</li>
                            <li><span>1 Free</span> Domain included</li>
                            <li><span>Super Fast</span> SSD Storage</li>
                            <li><span>Free</span> SSL Certificate</li>
                            <li>99.95% Uptime</li>
                            <li>24/7 Phone Support</li>
                        </ul>
                        <a href="#" class="btn outline-btn mb-3" target="_blank">Purchase now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card popular-price text-center single-pricing-pack">
                    <div class="pt-5">
                        <h5 class="mb-0">Cloud Business <span class="badge color-1 color-1-bg">Popular</span></h5>
                        <p class="mb-0">High traffic corporate sites</p>
                    </div>
                    <div class="card-header pb-4 border-0 pricing-header">
                        <div class="price text-center mb-0 monthly-price">$49<span>/month</span></div>
                        <div class="price text-center mb-0 yearly-price">$159<span>/yearly</span></div>
                        <div class="price text-center mb-0 biannual-price">$299<span>/biannual</span></div>
                        <div class="price text-center mb-0 triennial-price">$429<span>/triennial</span></div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mb-4 pricing-feature-list">
                            <li><span>30</span> Hosted Domains</li>
                            <li><span>75 GB</span> RAID 10 Storage</li>
                            <li><span>700 GB</span> Bandwidth</li>
                            <li><span>3 Free</span> Domain included</li>
                            <li><span>Super Fast</span> SSD Storage</li>
                            <li><span>Free</span> SSL Certificate</li>
                            <li>99.95% Uptime</li>
                            <li>24/7 Phone Support</li>
                        </ul>
                        <a href="#" class="btn primary-solid-btn mb-3" target="_blank">Purchase now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card text-center single-pricing-pack">
                    <div class="pt-5">
                        <h5 class="mb-0">Cloud Enterprise</h5>
                        <p class="mb-0">Enterprise content management</p>
                    </div>
                    <div class="card-header pb-4 border-0 pricing-header">
                        <div class="price text-center mb-0 monthly-price">$69<span>/month</span></div>
                        <div class="price text-center mb-0 yearly-price">$259<span>/yearly</span></div>
                        <div class="price text-center mb-0 biannual-price">$499<span>/biannual</span></div>
                        <div class="price text-center mb-0 triennial-price">$739<span>/triennial</span></div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mb-4 pricing-feature-list">
                            <li><span>60</span> Hosted Domains</li>
                            <li><span>175 GB</span> RAID 10 Storage</li>
                            <li><span>1500 GB</span> Bandwidth</li>
                            <li><span>6 Free</span> Domain included</li>
                            <li><span>Super Fast</span> SSD Storage</li>
                            <li><span>Free</span> SSL Certificate</li>
                            <li>99.95% Uptime</li>
                            <li>24/7 Phone Support</li>
                        </ul>
                        <a href="#" class="btn outline-btn mb-3" target="_blank">Purchase now</a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="support-cta mt-5">
                    <h5 class="mb-1 d-flex align-items-center justify-content-center"><span class="ti-loop color-primary mr-3 icon-sm"></span>Choose Your <a href="pricing-comparison.html" class="ml-2">Compare Hosting Plans</a></h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--pricing with switch section end-->
