        <!--promo-section section start-->
        <section class="promo-section ptb-100">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-9 col-lg-8">
                      <div class="section-heading text-center mb-md-0 mb-lg-5">
                          <h2>HostLar Helps You Succeed</h2>
                          <p class="lead">Grow your website faster by using hostlar as your foundation. Dynamically
                              streamline principle-centered technologies.</p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4 col-lg-4">
                      <a href="#">
                          <div class="single-promo-2 single-promo-hover rounded-custom text-center white-bg p-5 h-100">
                              <div class="circle-icon">
                                  <span class="fas fa-bezier-curve text-white"></span>
                              </div>
                              <h5>Super Easy to Use</h5>
                              <p>Increase sales by showing true dynamics of your website.</p>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-lg-4">
                      <a href="#">
                          <div class="single-promo-2 single-promo-hover rounded-custom text-center white-bg p-5 h-100">
                              <div class="circle-icon">
                                  <span class="fas fa-sync-alt text-white"></span>
                              </div>
                              <h5>Fast & Reliable</h5>
                              <p>Build your online store’s trust using Social Proof &amp; Urgency.</p>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-lg-4">
                      <a href="#">
                          <div class="single-promo-2 single-promo-hover rounded-custom text-center white-bg p-5 h-100">
                              <div class="circle-icon">
                                  <span class="fas fa-headset text-white"></span>
                              </div>
                              <h5>24/7 Expert Support</h5>
                              <p>Realize importance of social proof in customer’s purchase decision.</p>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </section>

      <!--promo-section section end-->
