<body>

  <!--loader start-->
  <div id="preloader">
      <div class="loader1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </div>
  </div>
  <!--loader end-->
  <!--header section start-->
  <app-header></app-header>

  <!--header section end-->

  <div class="main">

      <!--page header section start-->
      <section class="page-header-section ptb-100 gradient-bg">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-md-7 col-lg-6">
                      <div class="page-header-content text-white">
                          <h1 class="text-white mb-2">FAQ</h1>
                          <p class="lead">Intrinsicly visualize client-centered methodologies vis-a-vis standards compliant data. Proactively synthesize progressive bandwidth with business synergy. </p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--page header section end-->

      <!--breadcrumb bar start-->
      <div class="breadcrumb-bar py-3 gray-light-bg border-bottom">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="custom-breadcrumb">
                          <ol class="breadcrumb d-inline-block bg-transparent list-inline py-0 pl-0">
                              <li class="list-inline-item breadcrumb-item"><a href="#">Home</a></li>
                              <li class="list-inline-item breadcrumb-item"><a href="#">Pages</a></li>
                              <li class="list-inline-item breadcrumb-item active">FAQ</li>
                          </ol>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--breadcrumb bar end-->

      <!--faq section start-->
      <div id="faq" class="ptb-100 ">
          <div class="container">
              <div class="row">
                  <div class="col-md-9 col-lg-8">
                      <div class="section-heading mb-5">
                          <h2>Frequently Asked Queries</h2>
                          <p>Efficiently productivate reliable paradigms before ubiquitous models. Continually utilize
                              frictionless expertise whereas tactical relationships. Still have questions? <a href="#contact" class="page-scroll">Contact us</a></p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 col-lg-12">
                      <div id="accordion-one" class="accordion accordion-faq">
                          <div class="card mb-0">
                              <a class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                                  <h6 class="mb-0 d-inline-block">What is Web Hosting?
                                  </h6>
                              </a>
                              <div id="collapseOne" class="collapse" data-parent="#accordion-one">
                                  <div class="card-body">
                                      <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                          sapiente ea proident.
                                          Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                          farm-to-table, raw denim aesthetic
                                          synth nesciunt you probably haven't heard of them accusamus labore sustainable
                                          VHS.
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="card mb-0">
                              <a class="card-header collapsed" data-toggle="collapse" href="#collapseTwo">
                                  <h6 class="mb-0 d-inline-block">What Are the
                                      Different Types of Web Hosting Products DreamHost Offers?</h6>
                              </a>
                              <div id="collapseTwo" class="collapse" data-parent="#accordion-one">
                                  <div class="card-body">
                                      <p>Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                          raw denim aesthetic
                                          synth nesciunt you probably haven't heard of them accusamus labore sustainable
                                          VHS.
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="card mb-0">
                              <a class="card-header collapsed" data-toggle="collapse" href="#collapseThree">
                                  <h6 class="mb-0 d-inline-block">How Do I Buy a Domain
                                      Name?
                                  </h6>
                              </a>
                              <div id="collapseThree" class="collapse" data-parent="#accordion-one">
                                  <div class="card-body">
                                      <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                          sapiente ea proident.
                                          Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                          farm-to-table, raw denim aesthetic
                                          synth nesciunt you probably haven't heard of them accusamus labore sustainable
                                          VHS.
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="card mb-0">
                              <a class="card-header collapsed" data-toggle="collapse" href="#collapseFour">
                                  <h6 class="mb-0 d-inline-block">Can You Help Me
                                      Understand More About WordPress?
                                  </h6>
                              </a>
                              <div id="collapseFour" class="collapse" data-parent="#accordion-one">
                                  <div class="card-body">
                                      <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                          sapiente ea proident.
                                          Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                          farm-to-table.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <!--faq section end-->

      <!--faq new style start-->
      <section class="ptb-100 gray-light-bg">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-9 col-lg-8">
                      <div class="section-heading mb-3 text-center">
                          <h2>Frequently Asked Questions</h2>
                          <p class="lead">
                              Quickly morph client-centric results through performance based applications. Proactively facilitate professional human capital for cutting-edge.
                          </p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="single-faq pt-4">
                          <h5>How can I pay for this?</h5>
                          <p>Intrinsicly implement high standards in strategic theme areas via inexpensive solutions.
                              Assertively conceptualize prospective bandwidth whereas client-based imperatives.</p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="single-faq pt-4">
                          <h5>Is it possible to pay yearly?</h5>
                          <p>Assertively iterate user friendly innovation without open-source markets. Monotonectally extend
                              resource sucking manufactured products without high-payoff paradigms. Objectively customize
                              ubiquitous information before economically sound relationships. </p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="single-faq pt-4">
                          <h5>Do you offer discounts on multiple items?</h5>
                          <p>Dramatically target focused testing procedures after holistic ideas. Collaboratively maximize
                              high-payoff ROI and value-added products. Distinctively deliver cooperative collaboration and
                              idea-sharing whereas customized</p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="single-faq pt-4">
                          <h5>Is VAT included in plan prices?</h5>
                          <p>Distinctively simplify high-quality initiatives for highly efficient applications. Monotonectally
                              repurpose integrated customer service after magnetic e-services. </p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="single-faq pt-4">
                          <h5>Will I pay more for some features?</h5>
                          <p>Enthusiastically pontificate resource-leveling supply chains whereas scalable markets.
                              Authoritatively streamline resource maximizing methods of empowerment</p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="single-faq pt-4">
                          <h5>Why are there no limits on the number of messages?</h5>
                          <p>Assertively target turnkey ideas for market-driven portals. Appropriately e-enable world-class
                              intellectual capital whereas 2.0 mindshare.</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--faq new style end-->

      <!--call to action section start-->
      <section class="call-to-action ptb-100 gradient-overlay " style="background: url('assets/img/hero-bg-4.jpg')no-repeat center center / cover">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-9 col-lg-8">
                      <div class="cta-new-wrap text-white text-center">
                          <h2 class="text-white">30-day Money-back Guarantee</h2>
                          <p class="lead">Globally parallel task granular alignments through excellent intellectual capital. Globally deploy vertical leadership.</p>
                          <div class="action-btns mt-4">
                              <a href="#" class="btn solid-white-btn animated-btn mr-lg-3">Get
                                  Started Now</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--call to action section end-->

      <!--submit request form start-->
      <section class="submit-request-form ptb-100">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-9 col-lg-8">
                      <div class="section-heading text-center mb-5">
                          <h2>Submit Your Request</h2>
                          <p class="lead">Synergistically impact innovative imperatives after magnetic bandwidth.
                              Collaboratively generate sustainable customer service without.</p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 col-lg-12">
                      <form class="submit-request-form">
                          <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12">
                                  <div class="form-group">
                                      <label for="select1">Hi, what can we help you with?</label>
                                      <select id="select1" class="crumina--select input--squared select2-hidden-accessible form-control" data-minimum-results-for-search="Infinity" tabindex="-1" aria-hidden="true">
                                          <option data-display="Domain Registrations">Domain Registrations</option>
                                          <option value="1">Getting Started</option>
                                          <option value="2">Hosting</option>
                                          <option value="3">Domain Registrations</option>
                                          <option value="4">General</option>
                                      </select>
                                  </div>
                                  <div class="form-group">
                                      <label for="name">Your Name <span class="required">*</span></label>
                                      <input id="name" class="form-control" type="text" placeholder="Your Name">
                                  </div>
                                  <div class="form-group">
                                      <label for="url">Your Website Link</label>
                                      <input id="url" class="form-control" type="text" placeholder="https://">
                                  </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12">
                                  <div class="form-group">
                                      <label for="select2">Tell us more <span class="required">*</span></label>
                                      <select id="select2" class="form-control" data-minimum-results-for-search="Infinity" tabindex="-1" aria-hidden="true">
                                          <option data-display="Domain Registrations">What if my domain registration
                                              expires?
                                          </option>
                                          <option value="1">Getting Started</option>
                                          <option value="2">Hosting</option>
                                          <option value="3">Domain Registrations</option>
                                          <option value="4">General</option>
                                      </select>
                                  </div>
                                  <div class="form-group">
                                      <label for="submitEmail">Your email <span class="required">*</span></label>
                                      <input id="submitEmail" class="form-control" type="email" placeholder="Email Address">
                                  </div>
                                  <div class="form-group input-file-wrap">
                                      <label for="upfile">Attachments</label>
                                      <span class="upfile-btn">Upload your file</span>
                                      <input id="upfile" type="file" class="form-control" />

                                  </div>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                  <div class="form-group">
                                      <label for="descr">Provide a detailed description <span
                                              class="required">*</span></label>
                                      <textarea id="descr" class="form-control" placeholder="How can we help you?" rows="4"></textarea>
                                      <p class="small mt-2">Please enter the details of your request. A member of our
                                          support staff will respond as soon as possible.</p>
                                  </div>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                  <button type="button" class="btn primary-solid-btn">SUBMIT A REQUEST</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </section>
      <!--submit request form end-->


  </div>

  <!--footer section start-->
  <footer class="footer-section">
      <!--footer top start-->
      <div class="footer-top gradient-bg">
          <div class="container">
              <div class="row">
                  <div class="col-md-3">
                      <div class="row footer-top-wrap">
                          <div class="col-12">
                              <div class="footer-nav-wrap text-white">
                                  <h4 class="text-white">SECURED BY</h4>
                                  <ul class="list-inline security-icon-list">
                                      <li class="list-inline-item"><img src="assets/img/mcafee-logo.png" width="110" alt="security" class="img-fluid" /></li>
                                      <li class="list-inline-item"><img src="assets/img/norton-logo.png" width="110" alt="security" class="img-fluid" /></li>
                                      <li class="list-inline-item"><img src="assets/img/accredited-logo.png" width="110" alt="security" class="img-fluid" /></li>
                                      <li class="list-inline-item"><img src="assets/img/secured-logo.png" width="110" alt="security" class="img-fluid" /></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-9">
                      <div class="row footer-top-wrap">
                          <div class="col-md-3 col-sm-6">
                              <div class="footer-nav-wrap text-white">
                                  <h4 class="text-white">PRODUCTS</h4>
                                  <ul class="nav flex-column">
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">WordPress Hosting</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Shared Hosting</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Virtual Private Servers</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Dedicated Servers</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Domain Names</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-3 col-sm-6">
                              <div class="footer-nav-wrap text-white">
                                  <h4 class="text-white">COMPANY</h4>
                                  <ul class="nav flex-column">
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">About</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Affiliates</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Blog</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Careers</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Community</a>
                                      </li>
                                  </ul>

                              </div>
                          </div>
                          <div class="col-md-3 col-sm-6">
                              <div class="footer-nav-wrap text-white">
                                  <h4 class="text-white">LEGAL</h4>
                                  <ul class="nav flex-column">
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Legal Information</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Privacy Policy</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Report Abuse</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Terms of Service</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">WHOIS Lookup</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-3 col-sm-6">
                              <div class="footer-nav-wrap text-white">
                                  <h4 class="text-white">SUPPORT</h4>
                                  <ul class="nav flex-column">
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Contact</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Knowledge Base</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Forums</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">System Status</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Support Team</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--footer top end-->

      <!--footer copyright start-->
      <div class="footer-bottom gray-light-bg py-3">
          <div class="container">
              <div class="row align-items-center justify-content-between">
                  <div class="col-md-5 col-lg-5">
                      <p class="copyright-text pb-0 mb-0">Copyrights © 2021. All
                          rights reserved by
                          <a href="https://themeforest.net/user/themetags" target="_blank">ThemeTags</a>
                      </p>
                  </div>
                  <div class="col-md-7 col-lg-6">
                      <div class="payment-method text-right">
                          <ul class="list-inline">
                              <li class="list-inline-item">
                                  <img src="assets/img/payment-amex.svg" alt="amex" width="50" />
                              </li>
                              <li class="list-inline-item">
                                  <img src="assets/img/payment-visa.svg" alt="visa" width="50" />
                              </li>
                              <li class="list-inline-item">
                                  <img src="assets/img/payment-mastercard.svg" alt="mastercard" width="50" />
                              </li>
                              <li class="list-inline-item">
                                  <img src="assets/img/payment-paypal.svg" alt="paypal" width="50" />
                              </li>
                              <li class="list-inline-item">
                                  <img src="assets/img/payment-bitcoin.svg" alt="bitcoin" width="50" />
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--footer copyright end-->
  </footer>
  <!--footer section end-->
  <!--bottom to top button start-->
  <button class="scroll-top scroll-to-target" data-target="html">
      <span class="ti-rocket"></span>
  </button>

</body>
