<body>

  <!--loader start-->
  <div id="preloader">
      <div class="loader1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </div>
  </div>
  <!--loader end-->
  <!--header section start-->
  <app-header></app-header>
  <!--header section end-->

  <div class="main">

      <!--hero section start-->
      <section class="hero-equal-height ptb-100 gradient-bg" style="background: url('assets/img/hero-17.jpg')no-repeat center center / cover">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-md-8 col-lg-8">
                      <div class="hero-content-wrap text-white position-relative z-index">
                          <h1 class="text-white">We Make WordPress Easier</h1>
                          <p class="lead">Sell anything, anywhere, anytime on the world's biggest eCommerce platform. Up to 50% Off domain and hosting, Starting from $2.99/month.</p>
                          <ul class="hosting-feature-list two-col-list py-3">
                              <li><span class="ti-check mr-2"></span>Look like a Pro</li>
                              <li><span class="ti-check mr-2"></span>Secure & Always Up</li>
                              <li><span class="ti-check mr-2"></span>1-Click Install</li>
                              <li><span class="ti-check mr-2"></span>Zero-Risk</li>
                              <li><span class="ti-check mr-2"></span>Money-Back Guarantee</li>
                              <li><span class="ti-check mr-2"></span>Free SSL Certificate</li>
                              <li><span class="ti-check mr-2"></span>Unlimited Email</li>
                              <li><span class="ti-check mr-2"></span>24/7/365 Day Support </li>
                          </ul>
                          <p class="mb-2 small">Starting at <strong>$2.59/mo</strong>*. Upgrade performance for a few dollars more </p>
                          <div class="action-btns mt-4">
                              <a href="#" class="btn solid-white-btn animated-btn">Get
                                  Started Now</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-lg-4">
                      <div class="img-wrap">
                          <img src="assets/img/wordpress-hosting-white.svg" alt="wordpress hosting" class="img-fluid" />
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--hero section end-->

      <!--promo-section section start-->
      <section class="why-choose-us ptb-100">
          <div class="container">
              <div class="row">
                  <div class="col-md-9 col-lg-8">
                      <div class="section-heading mb-5">
                          <h2>Why Choose Us?</h2>
                          <p class="lead">Completely expedite holistic e-markets without synergistic "outside the box"
                              thinking. Synergistically enable.</p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4 col-lg-4">
                      <a href="#">
                          <div class="single-promo-2 custom-shadow single-promo-hover rounded-custom text-center white-bg p-5 h-100">
                              <div class="circle-icon">
                                  <span class="fas fa-bezier-curve text-white"></span>
                              </div>
                              <h5>Super Easy to Use</h5>
                              <p>Increase sales by showing true dynamics of your website.</p>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-lg-4">
                      <a href="#">
                          <div class="single-promo-2 custom-shadow single-promo-hover rounded-custom text-center white-bg p-5 h-100">
                              <div class="circle-icon">
                                  <span class="fas fa-tachometer-alt text-white"></span>
                              </div>
                              <h5>Fast & Reliable</h5>
                              <p>Build your online store’s trust using Social Proof &amp; Urgency.</p>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-lg-4">
                      <a href="#">
                          <div class="single-promo-2 custom-shadow single-promo-hover rounded-custom text-center white-bg p-5 h-100">
                              <div class="circle-icon">
                                  <span class="fas fa-headset text-white"></span>
                              </div>
                              <h5>24/7 Expert Support</h5>
                              <p>Realize importance of social proof in customer’s purchase decision.</p>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </section>
      <!--promo-section section end-->

      <!--pricing section start-->
      <section class="pricing-section ptb-100 gray-light-bg">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-9 col-lg-8">
                      <div class="section-heading text-center mb-5">
                          <h2>Managed Our Hosting Price</h2>
                          <p class="lead">
                              Distinctively recaptiualize principle-centered core competencies through client-centered
                              core competencies. Enthusiastically provide access.
                          </p>
                      </div>
                  </div>
              </div>
              <div class="row align-items-center justify-content-between">
                  <div class="col-lg-4 col-md-4 col-12">
                      <div class="card text-center single-pricing-pack">
                          <div class="pt-5">
                              <h5 class="mb-0">Cloud Starter</h5>
                              <p>Medium traffic personal sites</p>
                          </div>
                          <div class="card-header pb-4 border-0 pricing-header">
                              <div class="price text-center mb-0">$19<span>/month</span></div>
                          </div>
                          <div class="card-body">
                              <ul class="list-unstyled mb-4 pricing-feature-list">
                                  <li><span>10</span> Hosted Domains</li>
                                  <li><span>25 GB</span> RAID 10 Storage</li>
                                  <li><span>200 GB</span> Bandwidth</li>
                                  <li><span>1 Free</span> Domain included</li>
                                  <li><span>Super Fast</span> SSD Storage</li>
                                  <li><span>Free</span> SSL Certificate</li>
                                  <li>Dedicated IP Address</li>
                                  <li>24/7 Phone Support</li>
                              </ul>
                              <a href="#" class="btn outline-btn mb-3" target="_blank">Purchase now</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-12">
                      <div class="card popular-price text-center single-pricing-pack">
                          <div class="pt-5">
                              <h5 class="mb-0">Cloud Business <span class="badge color-1 color-1-bg">Popular</span></h5>
                              <p>High traffic corporate sites</p>
                          </div>
                          <div class="card-header pb-4 border-0 pricing-header">
                              <div class="price text-center mb-0">$49<span>/month</span></div>
                          </div>
                          <div class="card-body">
                              <ul class="list-unstyled mb-4 pricing-feature-list">
                                  <li><span>30</span> Hosted Domains</li>
                                  <li><span>75 GB</span> RAID 10 Storage</li>
                                  <li><span>700 GB</span> Bandwidth</li>
                                  <li><span>3 Free</span> Domain included</li>
                                  <li><span>Super Fast</span> SSD Storage</li>
                                  <li><span>Free</span> SSL Certificate</li>
                                  <li>Dedicated IP Address</li>
                                  <li>24/7 Phone Support</li>
                              </ul>
                              <a href="#" class="btn primary-solid-btn mb-3" target="_blank">Purchase now</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-12">
                      <div class="card text-center single-pricing-pack">
                          <div class="pt-5">
                              <h5 class="mb-0">Cloud Enterprise</h5>
                              <p>Enterprise content management</p>
                          </div>
                          <div class="card-header pb-4 border-0 pricing-header">
                              <div class="price text-center mb-0">$69<span>/month</span></div>
                          </div>
                          <div class="card-body">
                              <ul class="list-unstyled mb-4 pricing-feature-list">
                                  <li><span>60</span> Hosted Domains</li>
                                  <li><span>175 GB</span> RAID 10 Storage</li>
                                  <li><span>1500 GB</span> Bandwidth</li>
                                  <li><span>6 Free</span> Domain included</li>
                                  <li><span>Super Fast</span> SSD Storage</li>
                                  <li><span>Free</span> SSL Certificate</li>
                                  <li>Dedicated IP Address</li>
                                  <li>24/7 Phone Support</li>
                              </ul>
                              <a href="#" class="btn outline-btn mb-3" target="_blank">Purchase now</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-12">
                      <div class="support-cta mt-5">
                          <h5 class="mb-1 d-flex align-items-center justify-content-center"><span class="ti-loop color-primary mr-3 icon-sm"></span>Choose Your <a href="pricing-comparison.html" class="ml-2">Compare Hosting Plans</a></h5>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--pricing section end-->

      <!--feature section tab style start-->
      <section class="feature-tab-section ptb-100">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-9 col-lg-8">
                      <div class="section-heading text-center mb-4">
                          <h2>Hosting Features For Your Big Ideas</h2>
                          <p class="lead">These features come standard in all of our hosting plans. Dynamically extend
                              imperatives through open-source quickly niche markets.</p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <div class="feature-content-wrap">
                          <ul class="nav nav-tabs feature-tab feature-new-tab justify-content-center mb-5 border-bottom-0" data-tabs="tabs">
                              <li class="nav-item">
                                  <a class="nav-link d-flex align-items-center active" href="#feature-tab-1" data-toggle="tab">
                                      <h6 class="mb-0">Features</h6>
                                  </a>

                              </li>
                              <li class="nav-item">
                                  <a class="nav-link d-flex align-items-center" href="#feature-tab-2" data-toggle="tab">
                                      <h6 class="mb-0">Technical Features</h6>
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link d-flex align-items-center" href="#feature-tab-3" data-toggle="tab">
                                      <h6 class="mb-0">Optional Add-Ons</h6>
                                  </a>
                              </li>
                          </ul>
                          <div class="tab-content feature-tab-content">
                              <div class="tab-pane active" id="feature-tab-1">
                                  <div class="row">
                                      <div class="col-md-6 col-lg-4">
                                          <div class="features-box p-4">
                                              <div class="features-box-icon">
                                                  <span class="ti-panel icon-sm color-primary"></span>
                                              </div>
                                              <div class="features-box-content">
                                                  <h5>Custom Control Panel</h5>
                                                  <p>Our intuitive control panel gives you admin access to all of your DreamHost products
                                                      easily.</p>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-md-6 col-lg-4">
                                          <div class="features-box p-4">
                                              <div class="features-box-icon">
                                                  <span class="ti-thumb-up icon-sm color-primary"></span>
                                              </div>
                                              <div class="features-box-content">
                                                  <h5>Real-Life Human Beings</h5>
                                                  <p>Tech veterans, geeks, and nerds are all standing by to optimize your experience whether.</p>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-md-6 col-lg-4">
                                          <div class="features-box p-4">
                                              <div class="features-box-icon">
                                                  <span class="ti-mouse-alt icon-sm color-primary"></span>
                                              </div>
                                              <div class="features-box-content">
                                                  <h5>1-Click Installer</h5>
                                                  <p>No need to dig into a bunch of documentation. Simply install web apps like WordPress,
                                                      Joomla!.</p>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-md-6 col-lg-4">
                                          <div class="features-box p-4">
                                              <div class="features-box-icon">
                                                  <span class="ti-timer icon-sm color-primary"></span>
                                              </div>
                                              <div class="features-box-content">
                                                  <h5>100% Uptime Guarantee</h5>
                                                  <p>With multiple datacenter locations, redundant cooling, emergency generators and
                                                      monitoring.</p>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-md-6 col-lg-4">
                                          <div class="features-box p-4">
                                              <div class="features-box-icon">
                                                  <span class="ti-harddrives icon-sm color-primary"></span>
                                              </div>
                                              <div class="features-box-content">
                                                  <h5>Solid State Drives (SSD)</h5>
                                                  <p>With SSDs, your website, caching, and database queries are faster by our calculations. </p>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-md-6 col-lg-4">
                                          <div class="features-box p-4">
                                              <div class="features-box-icon">
                                                  <span class="ti-cup icon-sm color-primary"></span>
                                              </div>
                                              <div class="features-box-content">
                                                  <h5>Award-Winning Support</h5>
                                                  <p>No question is too simple, or too complex for our team of experts. Synergistically
                                                      synergize.</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane" id="feature-tab-2">
                                  <div class="row">
                                      <div class="col-md-6 col-lg-4">
                                          <div class="feature-feature-list p-4 text-center">
                                              <span class="ti-harddrives icon-sm d-block color-primary mb-3"></span>
                                              <h5 class="mb-2">SSD Disk Drives</h5>
                                              <p>You can never go wrong with our own top-notch dedicated servers loaded</p>
                                          </div>
                                      </div>
                                      <div class="col-md-6 col-lg-4">
                                          <div class="feature-feature-list p-4 text-center">
                                              <span class="ti-rss-alt icon-sm d-block color-primary mb-3"></span>
                                              <h5 class="mb-2">100 Mb/s Network</h5>
                                              <p>We can guarantee an excellent experience and loading time for your successful</p>
                                          </div>
                                      </div>
                                      <div class="col-md-6 col-lg-4">
                                          <div class="feature-feature-list p-4 text-center">
                                              <span class="ti-lock icon-sm d-block color-primary mb-3"></span>
                                              <h5 class="mb-2">DDoS Protection</h5>
                                              <p>With full root access you will be able to take full control of your server very easy</p>
                                          </div>
                                      </div>
                                      <div class="col-md-6 col-lg-4">
                                          <div class="feature-feature-list p-4 text-center">
                                              <span class="ti-world icon-sm d-block color-primary mb-3"></span>
                                              <h5 class="mb-2">Dedicated IP</h5>
                                              <p>One of many premium features is a dedicated IP cheapest VPS hosting plan</p>
                                          </div>
                                      </div>
                                      <div class="col-md-6 col-lg-4">
                                          <div class="feature-feature-list p-4 text-center">
                                              <span class="ti-location-pin icon-sm d-block color-primary mb-3"></span>
                                              <h5 class="mb-2">IPv6 Support</h5>
                                              <p>Our VPS hosting plan is fully packed with dedicated IPv6 Internet protocol IP</p>
                                          </div>
                                      </div>
                                      <div class="col-md-6 col-lg-4">
                                          <div class="feature-feature-list p-4 text-center">
                                              <span class="ti-wallet icon-sm d-block color-primary mb-3"></span>
                                              <h5 class="mb-2">Money-back Guarantee</h5>
                                              <p>If you’re not 100% satisfied with Hostlar, we’ll refund your payment no risk</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane" id="feature-tab-3">
                                  <div class="row">
                                      <div class="col-md-6 col-lg-4">
                                          <h5>WordPress Optimization</h5>
                                          <ul class="disc-style">
                                              <li>Latest and Fastest PHP/MySQL version</li>
                                              <li>SSD-only cloud with guaranteed CPU</li>
                                              <li>HTTP/2 and free CloudFlare CDN</li>
                                              <li>Observer Resource Monitoring</li>
                                          </ul>
                                      </div>
                                      <div class="col-md-6 col-lg-4">
                                          <h5>Exclusive Features</h5>
                                          <ul class="disc-style">
                                              <li>Daily Backups & free backup restore</li>
                                              <li>Security Updates and Patching</li>
                                              <li>Performance and resource monitoring</li>
                                              <li>Step-by-step Tutorials & Knowledgebase</li>
                                          </ul>
                                      </div>
                                      <div class="col-md-6 col-lg-4">
                                          <h5>WordPress Services</h5>
                                          <ul class="disc-style">
                                              <li>1-click WordPress Installation</li>
                                              <li>Free WordPress Transfer</li>
                                              <li>Themes and plugins installation</li>
                                              <li>Malware Scan & Reports</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--feature section tab style end-->

      <!--call to action new style start-->
      <section class="call-to-action ptb-100 gradient-overly-bottom" style="background: url('assets/img/hero-bg-4.jpg')no-repeat center center / cover fixed">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-9 col-lg-8">
                      <div class="call-to-action-content text-white text-center">
                          <h2 class="text-white">Already have a domain that you love?</h2>
                          <p>No problem! It's quick and painless to transfer your hosting, domain registrations, or both
                              to HostLar maximize market positioning solutions and enterprise services.</p>
                          <div class="action-btns mt-3">
                              <a href="#" class="btn solid-white-btn mr-3">Existing Customers</a>
                              <a href="#" class="btn outline-white-btn">New Customers</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--call to action new style end-->

      <!--start and transfer section start-->
      <section class="start-transfer ptb-100 gray-light-bg">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-9 col-lg-8">
                      <div class="section-heading text-center mb-5">
                          <h2>Easy to Start and Hassle free Transfer</h2>
                          <p class="lead">Get Immediate Activation or Express Transfer service free of charge.
                              Enthusiastically enhance testing procedures and cross.</p>
                      </div>
                  </div>
              </div>
              <div class="row start-website-box">
                  <div class="col-lg-6 col-12 pr-lg-0">
                      <div class="left-box white-bg">
                          <div class="d-flex align-items-center mb-4">
                              <span class="ti-vector icon-sm text-white primary-bg p-2 rounded mr-3"></span>
                              <h5 class="mb-0">Start a New Website <span
                                      class="badge color-1 color-1-bg">Easy to start</span></h5>
                          </div>
                          <ul>
                              <li>
                                  <strong>One-click App Marketplace</strong>
                                  <p>Over 450 Apps ready to be installed in seconds</p>
                              </li>
                              <li>
                                  <strong>The best DIY solution</strong>
                                  <p>20+ Frameworks and your favorite dev tools</p>
                              </li>
                              <li>
                                  <strong>Step by Step Tutorials</strong>
                                  <p>3000+ pages of tutorials to get you started</p>
                              </li>
                              <li>
                                  <strong>Unlimited 24/7 Priority Support</strong>
                                  <p>Always-free in-house technical support</p>
                              </li>
                          </ul>
                          <div class="btn-holder mt-4">
                              <a class="btn primary-solid-btn" href="#">Start now</a>
                          </div>
                          <p class="mt-3">
                              <small>Sign up today before <span class="text-blue" data-role="site-activation-timer"
                                                                data-type="new">04:00 PM</span> and get Immediate Account
                                  Activation and Free Website Setup!
                              </small>
                          </p>
                      </div>
                  </div>
                  <div class="col-lg-6 col-12 pl-lg-0">
                      <div class="right-box primary-bg">
                          <div class="d-flex align-items-center mb-4">
                              <span class="ti-loop icon-sm color-primary white-bg p-2 rounded mr-3"></span>
                              <h5 class="mb-0 text-white">Express Transfer</h5>
                          </div>
                          <ul>
                              <li>
                                  <strong>People-powered site transfer</strong>
                                  <p>No messy automation - get it done by experts</p>
                              </li>
                              <li>
                                  <strong>No downtime, Fast and Painless</strong>
                                  <p>Express Transfer service included in all plans</p>
                              </li>
                              <li>
                                  <strong>Free Domain Transfer</strong>
                                  <p>Free one-year domain renewal after transfer</p>
                              </li>
                              <li>
                                  <strong>Free months of hosting</strong>
                                  <p>Up to six months unused time compensation</p>
                              </li>
                          </ul>
                          <div class="btn-holder mt-4">
                              <a class="btn solid-white-btn" href="#">Transfer Now</a>
                          </div>
                          <p class="mt-3">
                              <small>Sign up now and get your website transferred by <span class="text-yellow"
                                                                                           data-role="site-activation-timer"
                                                                                           data-type="transfer">04:57 PM</span>
                                  today with free Express Transfer!
                              </small>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--start and transfer section end-->

      <!--testimonial and review section start-->
      <section class="client-review-section ptb-100 ">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-9 col-lg-8">
                      <div class="section-heading text-center mb-5">
                          <h2>What Our Customers Say About Us?</h2>
                          <p class="lead">Authoritatively reinvent client-centric fully tested process improvements. Objectively restore strategic initiatives through fully researched.</p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 col-lg-12">
                      <div class="owl-carousel owl-theme client-testimonial custom-dot dot-bottom-center">
                          <div class="item">
                              <div class="single-testimonial white-bg shadow-sm rounded p-5">
                                  <ul class="list-inline ratting-list mb-2">
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                  </ul>
                                  <div class="ratting-content">
                                      <h5>Awesome Support !</h5>
                                      <p>Objectively magnetic manufactured products and dynamic models. Progressively maximize 2.0 relationships imperatives through whereas process-centric.</p>
                                  </div>
                                  <div class="ratting-author mt-3">
                                      <h6>Alex Khamer</h6>
                                      <small class="text-right">6 days ago</small>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="single-testimonial white-bg shadow-sm rounded p-5">
                                  <ul class="list-inline ratting-list mb-2">
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                  </ul>
                                  <div class="ratting-content">
                                      <h5>Pleasant support experience</h5>
                                      <p>Objectively envisioneer magnetic manufactured products and dynamic models. Progressively maximize 2.0 relationships methodologies.</p>
                                  </div>
                                  <div class="ratting-author mt-3">
                                      <h6>Peter Anderson</h6>
                                      <small class="text-right">3 days ago</small>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="single-testimonial white-bg shadow-sm rounded p-5">
                                  <ul class="list-inline ratting-list mb-2">
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                  </ul>
                                  <div class="ratting-content">
                                      <h5>Contacted support after Midnight</h5>
                                      <p>Objectively envisioneer magnetic manufactured products and dynamic maximize 2.0 relationships whereas process-centric methodologies.</p>
                                  </div>
                                  <div class="ratting-author mt-3">
                                      <h6>Jolio Darix</h6>
                                      <small class="text-right">8 days ago</small>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="single-testimonial white-bg shadow-sm rounded p-5">
                                  <ul class="list-inline ratting-list mb-2">
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                  </ul>
                                  <div class="ratting-content">
                                      <h5>Great experience with the technical</h5>
                                      <p>Objectively manufactured products and dynamic models maximize 2.0 relationships whereas process-centric methodologies.</p>
                                  </div>
                                  <div class="ratting-author mt-3">
                                      <h6>Carolyn Dani</h6>
                                      <small class="text-right">6 days ago</small>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="single-testimonial white-bg shadow-sm rounded p-5">
                                  <ul class="list-inline ratting-list mb-2">
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                  </ul>
                                  <div class="ratting-content">
                                      <h5>Reliable web hosting company</h5>
                                      <p>Objectively magnetic manufactured products and dynamic models. Progressively maximize 2.0 relationships whereas.</p>
                                  </div>
                                  <div class="ratting-author mt-3">
                                      <h6>Alex Dari</h6>
                                      <small class="text-right">4 days ago</small>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="single-testimonial white-bg shadow-sm rounded p-5">
                                  <ul class="list-inline ratting-list mb-2">
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                  </ul>
                                  <div class="ratting-content">
                                      <h5>People and services that care</h5>
                                      <p>Objectively envisioneer magnetic manufactured products and dynamic models maximize 2.0 relationships whereas process-centric methodologies.</p>
                                  </div>
                                  <div class="ratting-author mt-3">
                                      <h6>Sir Rainbo </h6>
                                      <small class="text-right">2 days ago</small>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--testimonial and review section end-->


  </div>

  <!--footer section start-->
  <footer class="footer-section">
      <!--footer top start-->
      <div class="footer-top gradient-bg">
          <div class="container">
              <div class="row">
                  <div class="col-md-3">
                      <div class="row footer-top-wrap">
                          <div class="col-12">
                              <div class="footer-nav-wrap text-white">
                                  <h4 class="text-white">SECURED BY</h4>
                                  <ul class="list-inline security-icon-list">
                                      <li class="list-inline-item"><img src="assets/img/mcafee-logo.png" width="110" alt="security" class="img-fluid" /></li>
                                      <li class="list-inline-item"><img src="assets/img/norton-logo.png" width="110" alt="security" class="img-fluid" /></li>
                                      <li class="list-inline-item"><img src="assets/img/accredited-logo.png" width="110" alt="security" class="img-fluid" /></li>
                                      <li class="list-inline-item"><img src="assets/img/secured-logo.png" width="110" alt="security" class="img-fluid" /></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-9">
                      <div class="row footer-top-wrap">
                          <div class="col-md-3 col-sm-6">
                              <div class="footer-nav-wrap text-white">
                                  <h4 class="text-white">PRODUCTS</h4>
                                  <ul class="nav flex-column">
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">WordPress Hosting</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Shared Hosting</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Virtual Private Servers</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Dedicated Servers</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Domain Names</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-3 col-sm-6">
                              <div class="footer-nav-wrap text-white">
                                  <h4 class="text-white">COMPANY</h4>
                                  <ul class="nav flex-column">
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">About</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Affiliates</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Blog</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Careers</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Community</a>
                                      </li>
                                  </ul>

                              </div>
                          </div>
                          <div class="col-md-3 col-sm-6">
                              <div class="footer-nav-wrap text-white">
                                  <h4 class="text-white">LEGAL</h4>
                                  <ul class="nav flex-column">
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Legal Information</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Privacy Policy</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Report Abuse</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Terms of Service</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">WHOIS Lookup</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-3 col-sm-6">
                              <div class="footer-nav-wrap text-white">
                                  <h4 class="text-white">SUPPORT</h4>
                                  <ul class="nav flex-column">
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Contact</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Knowledge Base</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Forums</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">System Status</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Support Team</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--footer top end-->

      <!--footer copyright start-->
      <div class="footer-bottom gray-light-bg py-3">
          <div class="container">
              <div class="row align-items-center justify-content-between">
                  <div class="col-md-5 col-lg-5">
                      <p class="copyright-text pb-0 mb-0">Copyrights © 2021. All
                          rights reserved by
                          <a href="https://themeforest.net/user/themetags" target="_blank">ThemeTags</a>
                      </p>
                  </div>
                  <div class="col-md-7 col-lg-6">
                      <div class="payment-method text-right">
                          <ul class="list-inline">
                              <li class="list-inline-item">
                                  <img src="assets/img/payment-amex.svg" alt="amex" width="50" />
                              </li>
                              <li class="list-inline-item">
                                  <img src="assets/img/payment-visa.svg" alt="visa" width="50" />
                              </li>
                              <li class="list-inline-item">
                                  <img src="assets/img/payment-mastercard.svg" alt="mastercard" width="50" />
                              </li>
                              <li class="list-inline-item">
                                  <img src="assets/img/payment-paypal.svg" alt="paypal" width="50" />
                              </li>
                              <li class="list-inline-item">
                                  <img src="assets/img/payment-bitcoin.svg" alt="bitcoin" width="50" />
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--footer copyright end-->
  </footer>
  <!--footer section end-->
  <!--bottom to top button start-->
  <button class="scroll-top scroll-to-target" data-target="html">
      <span class="ti-rocket"></span>
  </button>

</body>
