   <!--services section start-->
   <section class="our-services ptb-100 gray-light-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8">
                <div class="section-heading text-center mb-5 mb-sm-5 mb-md-3 mb-lg-3">
                    <h2>We Have a Hosting Solution For You</h2>
                    <p class="lead">Synergistically architect plug-and-play without next-generation
                        manufactured products. Assertively develop synergistic networks.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single-service-plane text-center rounded white-bg shadow-sm p-5 mt-md-4 mt-lg-4">
                    <img src="assets/img/icon-shared-hosting.svg" alt="shared hosting" class="img-fluid mb-4" width="45" />
                    <div class="service-plane-content">
                        <h3 class="h5">Shared Hosting</h3>
                        <p>Our most popular product! Shared Web Hosting gives you a fast SSD
                            storage hosting.</p>
                    </div>
                    <div class="action-wrap mt-3">
                        <p>Starting at: <strong>$2.59/mo</strong></p>
                        <a href="#" class="btn-link">View Details <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-service-plane text-center rounded white-bg shadow-sm p-5 mt-md-4 mt-lg-4">
                    <img src="assets/img/icon-wordpress-hosting.svg" alt="shared hosting" class="img-fluid mb-4" width="45" />
                    <div class="service-plane-content">
                        <h3 class="h5">WordPress Hosting</h3>
                        <p>Get up and running fast with Optimized performance easy
                            maintenance hosting.</p>
                    </div>
                    <div class="action-wrap mt-3">
                        <p>Starting at: <strong>$2.59/mo</strong></p>
                        <a href="#" class="btn-link">View Details <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-service-plane text-center rounded white-bg shadow-sm p-5 mt-md-4 mt-lg-4">
                    <img src="assets/img/icon-vps-hosting.svg" alt="shared hosting" class="img-fluid mb-4" width="45" />
                    <div class="service-plane-content">
                        <h3 class="h5">VPS Hosting</h3>
                        <p>Virtual Private Servers with ultra-fast SSDs and flexibility, Ubuntu, IPv6,
                            Nginx and more.</p>
                    </div>
                    <div class="action-wrap mt-3">
                        <p>Starting at: <strong>$12.00/mo</strong></p>
                        <a href="#" class="btn-link">View Details <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-service-plane text-center rounded white-bg shadow-sm p-5 mt-md-4 mt-lg-4">
                    <img src="assets/img/icon-website-builder.svg" alt="shared hosting" class="img-fluid mb-4" width="45" />
                    <div class="service-plane-content">
                        <h3 class="h5">WP Website Builder</h3>
                        <p>No code required! Build your site confidently with design tools that WordPress
                            website build.</p>
                    </div>
                    <div class="action-wrap mt-3">
                        <p>Starting at: <strong>$2.59/mo</strong></p>
                        <a href="#" class="btn-link">View Details <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-service-plane text-center rounded white-bg shadow-sm p-5 mt-md-4 mt-lg-4">
                    <img src="assets/img/icon-dadicate-hosting.svg" alt="shared hosting" class="img-fluid mb-4" width="45" />
                    <div class="service-plane-content">
                        <h3 class="h5">Dedicated Hosting</h3>
                        <p>Fast web servers to run your applications with root and a 100% Guarantee
                            our hosting.</p>
                    </div>
                    <div class="action-wrap mt-3">
                        <p>Starting at: <strong>$145.59/mo</strong></p>
                        <a href="#" class="btn-link">View Details <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-service-plane text-center rounded white-bg shadow-sm p-5 mt-md-4 mt-lg-4">
                    <img src="assets/img/icon-cloud-hosting.svg" alt="shared hosting" class="img-fluid mb-4" width="45" />
                    <div class="service-plane-content">
                        <h3 class="h5">Cloud Hosting</h3>
                        <p>Lightning-fast servers with root access, SSD storage and blazing-fast networking hosting.</p>
                    </div>
                    <div class="action-wrap mt-3">
                        <p>Starting at: <strong>$0.0059/mo</strong></p>
                        <a href="#" class="btn-link">View Details <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

