<body>

  <!--loader start-->
  <div id="preloader">
      <div class="loader1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </div>
  </div>
  <!--loader end-->
  <!--header section start-->
  <app-header></app-header>

  <!--header section end-->

  <div class="main">

      <!--page header section start-->
      <section class="page-header-section ptb-100 gradient-overly-right" style="background: url('assets/img/hero-14.jpg')no-repeat center center / cover">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-md-7 col-lg-6">
                      <div class="page-header-content text-white">
                          <h1 class="text-white mb-2">Network</h1>
                          <p class="lead">Intrinsicly supply extensible outsourcing before robust channels. Uniquely utilize market-driven technologies before vertical.</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--page header section end-->

      <!--breadcrumb bar start-->
      <div class="breadcrumb-bar py-3 border-bottom gray-light-bg">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="custom-breadcrumb">
                          <ol class="breadcrumb d-inline-block bg-transparent list-inline py-0 pl-0">
                              <li class="list-inline-item breadcrumb-item"><a href="#">Home</a></li>
                              <li class="list-inline-item breadcrumb-item"><a href="#">Pages</a></li>
                              <li class="list-inline-item breadcrumb-item active">Network</li>
                          </ol>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--breadcrumb bar end-->

      <!--network map section start-->
      <section class="network-map-section ptb-100 ">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-9 col-lg-8">
                      <div class="section-heading text-center mb-5">
                          <h2>Our Data centers Location</h2>
                          <p class="lead">Cloudhub offers a low latency worldwide network, enabling you to deploy your
                              service infrastructure in close proximity to your customer base.</p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <div class="network-map-wrap">
                          <ul class="custom-map-location">
                              <li style="top: 29%; left: 15.5%;">
                                  <span data-toggle="tooltip" data-placement="top" title="Canada"></span>
                              </li>
                              <li style="top: 42%; left: 20%;">
                                  <span data-toggle="tooltip" data-placement="top" title="United States"></span>
                              </li>
                              <li style="top: 70%; left: 32%;">
                                  <span data-toggle="tooltip" data-placement="top" title="Brazil"></span>
                              </li>
                              <li style="top: 57%; left: 48%;">
                                  <span data-toggle="tooltip" data-placement="top" title="Nigeria"></span>
                              </li>
                              <li style="top: 18%; left: 53%;">
                                  <span data-toggle="tooltip" data-placement="top" title="Finland"></span>
                              </li>
                              <li style="top: 34%; left: 55%;">
                                  <span data-toggle="tooltip" data-placement="top" title="Ukraine"></span>
                              </li>
                              <li style="top: 45%; left: 68%;">
                                  <span data-toggle="tooltip" data-placement="top" title="India"></span>
                              </li>
                              <li style="top: 35%; left: 80%;">
                                  <span data-toggle="tooltip" data-placement="top" title="China"></span>
                              </li>
                              <li style="top: 77%; left: 85%;">
                                  <span data-toggle="tooltip" data-placement="top" title="Australia"></span>
                              </li>
                          </ul>
                          <img src="assets/img/map-dark.svg" alt="location map">
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--network map section end-->

      <!--call to action section start-->
      <section class="call-to-action ptb-100 gradient-overly-bottom" style="background: url('assets/img/hero-bg-4.jpg')no-repeat center center / cover fixed">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-9 col-lg-8">
                      <div class="call-to-action-content text-white text-center">
                          <h2 class="text-white">Already have a domain that you love?</h2>
                          <p>No problem! It's quick and painless to transfer your hosting, domain registrations, or both
                              to HostLar maximize market positioning solutions and enterprise services.</p>
                          <div class="action-btns mt-3">
                              <a href="#" class="btn solid-white-btn mr-3">Existing Customers</a>
                              <a href="#" class="btn outline-white-btn">New Customers</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--call to action section end-->

      <!--testimonial and review section start-->
      <section class="client-review-section ptb-100 gray-light-bg">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-9 col-lg-8">
                      <div class="section-heading text-center mb-5">
                          <h2>What Our Customers Say About Us?</h2>
                          <p class="lead">Authoritatively reinvent client-centric fully tested process improvements. Objectively restore strategic initiatives through fully researched.</p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 col-lg-12">
                      <div class="owl-carousel owl-theme client-testimonial custom-dot dot-bottom-center">
                          <div class="item">
                              <div class="single-testimonial white-bg shadow-sm rounded p-5">
                                  <ul class="list-inline ratting-list mb-2">
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                  </ul>
                                  <div class="ratting-content">
                                      <h5>Awesome Support !</h5>
                                      <p>Objectively magnetic manufactured products and dynamic models. Progressively maximize 2.0 relationships imperatives through whereas process-centric.</p>
                                  </div>
                                  <div class="ratting-author mt-3">
                                      <h6>Alex Khamer</h6>
                                      <small class="text-right">6 days ago</small>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="single-testimonial white-bg shadow-sm rounded p-5">
                                  <ul class="list-inline ratting-list mb-2">
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                  </ul>
                                  <div class="ratting-content">
                                      <h5>Pleasant support experience</h5>
                                      <p>Objectively envisioneer magnetic manufactured products and dynamic models. Progressively maximize 2.0 relationships methodologies.</p>
                                  </div>
                                  <div class="ratting-author mt-3">
                                      <h6>Peter Anderson</h6>
                                      <small class="text-right">3 days ago</small>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="single-testimonial white-bg shadow-sm rounded p-5">
                                  <ul class="list-inline ratting-list mb-2">
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                  </ul>
                                  <div class="ratting-content">
                                      <h5>Contacted support after Midnight</h5>
                                      <p>Objectively envisioneer magnetic manufactured products and dynamic maximize 2.0 relationships whereas process-centric methodologies.</p>
                                  </div>
                                  <div class="ratting-author mt-3">
                                      <h6>Jolio Darix</h6>
                                      <small class="text-right">8 days ago</small>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="single-testimonial white-bg shadow-sm rounded p-5">
                                  <ul class="list-inline ratting-list mb-2">
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                  </ul>
                                  <div class="ratting-content">
                                      <h5>Great experience with the technical</h5>
                                      <p>Objectively manufactured products and dynamic models maximize 2.0 relationships whereas process-centric methodologies.</p>
                                  </div>
                                  <div class="ratting-author mt-3">
                                      <h6>Carolyn Dani</h6>
                                      <small class="text-right">6 days ago</small>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="single-testimonial white-bg shadow-sm rounded p-5">
                                  <ul class="list-inline ratting-list mb-2">
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                  </ul>
                                  <div class="ratting-content">
                                      <h5>Reliable web hosting company</h5>
                                      <p>Objectively magnetic manufactured products and dynamic models. Progressively maximize 2.0 relationships whereas.</p>
                                  </div>
                                  <div class="ratting-author mt-3">
                                      <h6>Alex Dari</h6>
                                      <small class="text-right">4 days ago</small>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="single-testimonial white-bg shadow-sm rounded p-5">
                                  <ul class="list-inline ratting-list mb-2">
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                      <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                  </ul>
                                  <div class="ratting-content">
                                      <h5>People and services that care</h5>
                                      <p>Objectively envisioneer magnetic manufactured products and dynamic models maximize 2.0 relationships whereas process-centric methodologies.</p>
                                  </div>
                                  <div class="ratting-author mt-3">
                                      <h6>Sir Rainbo </h6>
                                      <small class="text-right">2 days ago</small>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--testimonial and review section end-->
  </div>

  <!--footer section start-->
  <footer class="footer-section">
      <!--footer top start-->
      <div class="footer-top gradient-bg">
          <div class="container">
              <div class="row">
                  <div class="col-md-3">
                      <div class="row footer-top-wrap">
                          <div class="col-12">
                              <div class="footer-nav-wrap text-white">
                                  <h4 class="text-white">SECURED BY</h4>
                                  <ul class="list-inline security-icon-list">
                                      <li class="list-inline-item"><img src="assets/img/mcafee-logo.png" width="110" alt="security" class="img-fluid" /></li>
                                      <li class="list-inline-item"><img src="assets/img/norton-logo.png" width="110" alt="security" class="img-fluid" /></li>
                                      <li class="list-inline-item"><img src="assets/img/accredited-logo.png" width="110" alt="security" class="img-fluid" /></li>
                                      <li class="list-inline-item"><img src="assets/img/secured-logo.png" width="110" alt="security" class="img-fluid" /></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-9">
                      <div class="row footer-top-wrap">
                          <div class="col-md-3 col-sm-6">
                              <div class="footer-nav-wrap text-white">
                                  <h4 class="text-white">PRODUCTS</h4>
                                  <ul class="nav flex-column">
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">WordPress Hosting</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Shared Hosting</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Virtual Private Servers</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Dedicated Servers</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Domain Names</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-3 col-sm-6">
                              <div class="footer-nav-wrap text-white">
                                  <h4 class="text-white">COMPANY</h4>
                                  <ul class="nav flex-column">
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">About</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Affiliates</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Blog</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Careers</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Community</a>
                                      </li>
                                  </ul>

                              </div>
                          </div>
                          <div class="col-md-3 col-sm-6">
                              <div class="footer-nav-wrap text-white">
                                  <h4 class="text-white">LEGAL</h4>
                                  <ul class="nav flex-column">
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Legal Information</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Privacy Policy</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Report Abuse</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Terms of Service</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">WHOIS Lookup</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-3 col-sm-6">
                              <div class="footer-nav-wrap text-white">
                                  <h4 class="text-white">SUPPORT</h4>
                                  <ul class="nav flex-column">
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Contact</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Knowledge Base</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Forums</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">System Status</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="#">Support Team</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--footer top end-->

      <!--footer copyright start-->
      <div class="footer-bottom gray-light-bg py-3">
          <div class="container">
              <div class="row align-items-center justify-content-between">
                  <div class="col-md-5 col-lg-5">
                      <p class="copyright-text pb-0 mb-0">Copyrights © 2021. All
                          rights reserved by
                          <a href="https://themeforest.net/user/themetags" target="_blank">ThemeTags</a>
                      </p>
                  </div>
                  <div class="col-md-7 col-lg-6">
                      <div class="payment-method text-right">
                          <ul class="list-inline">
                              <li class="list-inline-item">
                                  <img src="assets/img/payment-amex.svg" alt="amex" width="50" />
                              </li>
                              <li class="list-inline-item">
                                  <img src="assets/img/payment-visa.svg" alt="visa" width="50" />
                              </li>
                              <li class="list-inline-item">
                                  <img src="assets/img/payment-mastercard.svg" alt="mastercard" width="50" />
                              </li>
                              <li class="list-inline-item">
                                  <img src="assets/img/payment-paypal.svg" alt="paypal" width="50" />
                              </li>
                              <li class="list-inline-item">
                                  <img src="assets/img/payment-bitcoin.svg" alt="bitcoin" width="50" />
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--footer copyright end-->
  </footer>
  <!--footer section end-->
  <!--bottom to top button start-->
  <button class="scroll-top scroll-to-target" data-target="html">
      <span class="ti-rocket"></span>
  </button>
  <!--bottom to top button end-->
  <!--build:js-->
</body>
