
        <!--feature section start-->
        <section class="feature-section ptb-100 gray-light-bg">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-9 col-lg-8">
                      <div class="section-heading text-center mb-5">
                          <h2>Hosting Features For Your Big Ideas</h2>
                          <p class="lead">These features come standard in all of our hosting plans. Dynamically extend
                              imperatives through open-source quickly niche markets.</p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 col-lg-6">
                      <div class="features-box p-4">
                          <div class="features-box-icon">
                              <span class="ti-panel icon-md color-primary"></span>
                          </div>
                          <div class="features-box-content">
                              <h5>Custom Control Panel</h5>
                              <p>Our intuitive control panel gives you admin access to all of your DreamHost products.
                                  Easily update domain information, add users, adjust email settings gain access.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                      <div class="features-box p-4">
                          <div class="features-box-icon">
                              <span class="ti-thumb-up icon-md color-primary"></span>
                          </div>
                          <div class="features-box-content">
                              <h5>Real-Life Human Beings</h5>
                              <p>Tech veterans, geeks, and nerds are all standing by to optimize your experience. Whether
                                  you get in touch with our support, read our knowledge base, or start a thread.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                      <div class="features-box p-4">
                          <div class="features-box-icon">
                              <span class="ti-mouse-alt icon-md color-primary"></span>
                          </div>
                          <div class="features-box-content">
                              <h5>1-Click Installer</h5>
                              <p>No need to dig into a bunch of documentation. Simply install web apps like WordPress,
                                  Joomla! and more. Monotonectally administrate economically sound opportunities.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                      <div class="features-box p-4">
                          <div class="features-box-icon">
                              <span class="ti-timer icon-md color-primary"></span>
                          </div>
                          <div class="features-box-content">
                              <h5>100% Uptime Guarantee</h5>
                              <p>With multiple datacenter locations, redundant cooling, emergency generators, and constant
                                  monitoring, we are able to offer our 100% Uptime Guarantee.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                      <div class="features-box p-4">
                          <div class="features-box-icon">
                              <span class="ti-harddrives icon-md color-primary"></span>
                          </div>
                          <div class="features-box-content">
                              <h5>Solid State Drives (SSD)</h5>
                              <p>With SSDs, your website, caching, and database queries are faster by our calculations.
                                  Quickly orchestrate worldwide niche markets vis-a-vis end-to-end infomediaries. </p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                      <div class="features-box p-4">
                          <div class="features-box-icon">
                              <span class="ti-cup icon-md color-primary"></span>
                          </div>
                          <div class="features-box-content">
                              <h5>Award-Winning Support</h5>
                              <p>No question is too simple, or too complex for our team of experts. Synergistically
                                  synergize Our in-house support staff and service team are here for you 24/7, 365.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>


      <!--feature section end-->
